
[submodule "Projects/fast-pizza-react-app"]
	path = Projects/fast-pizza-react-app
	url = https://github.com/Akshay-Gengaje/fast-react-pizza-app
[submodule "Projects/the_wild_oasis"]
	path = Projects/the_wild_oasis
	url = https://github.com/Akshay-Gengaje/The_Wild_Oasis.git
